
.heading{
    text-align: center;
    margin-top: 90px;
    font-family: 'Aoboshi One', serif;
    
}

.cardbox{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

